
<main>
    <header>
        <!-- <img src=<%=quickly %> alt=""> -->
        <img src='../images/quickly_logo.png' alt="">
    </header>

    <!-- <h1>Hi <%= first_name %>,</h1> -->
    <h1 class="name">Hi Oluwatosin,</h1>

    <p class="verify">This is your one time verification code:</p>
    <!-- style="display: flex;justify-content: center;align-items: center;width: 100%;max-width: 692px;height: 117px;max-height: 117px;" -->

    <div class="token_container">
        <p class="pin">
            <!-- <%= verificationToken1 %> -->2
        </p>
        <p class="pin">
            <!-- <%= verificationToken2 %> -->3
        </p>
        <p class="pin">
            <!-- <%= verificationToken3 %> -->4
        </p>
        <p class="pin">
            <!-- <%= verificationToken4 %> -->5
        </p>
    </div>

    <p class="expire">
        This code is only active for 10 minutes.
        Once the code expires, you will have to
        resubmit a request for a code.
    </p>

    <!-- <p class="copyright">© <%= year %> Quickly. All rights reserved</p> -->
    <p class="copyright">© 2023 Quickly. All rights reserved</p>
    <div class="socials">
        <a href="#">
            <!-- <img src=<%=facebook %> alt=""> -->
            <img src='../images/facebook.png' alt="">
        </a>

        <a href="https://twitter.com/OfficialQuickly?s=20">
            <!-- <img src=<%=twitter %> alt=""> -->
            <img src='../images/twitter.png' alt="">
        </a>

        <a href="#">
            <!-- <img src=<%=instagram %> alt=""> -->
            <img src='../images/instagram.png' alt="">
        </a>

        <a href="#">
            <!-- <img src=<%=linkedIn %> alt=""> -->
            <img src='../images/linkedIn.png' alt="">
        </a>
    </div>
</main>

