/* .homepage {
    max-width: 100vw;
    width: 100vw;
    height: calc(100vh - 120px);
} */

.homepage h1 {
    margin: 30px 0px 0px;
    font-size: 40px;
}

.blogs-container {
    margin: 30px 0px;
    padding: 20px;
    max-width: 800px;
    width: 80%;
    height: auto;
    border-radius: 10px;
}

.blogs-container .blog {
    margin: 10px 0px;
    padding: 20px;
    /* border: 1px solid #000000; */
    text-decoration: none;
    color: #000000;
    height: auto;
    height: 200px;
    width: 100%;
}


.blogs-container .blog p {
    margin: 0;
}

.blogs-container .blog p:first-child {
    font-size: 24px;
    font-weight: 700;
}

.blogs-container .blog p:last-child {
    font-size: 16px;
    font-weight: 400;
}

.blogs-container .blog p:nth-child(2) {
    font-size: 14px;
    font-weight: 400;
    margin: 5px 0px 20px;
}

.homepage .new-blog {
    position: fixed;
    right: 200px;
    bottom: 150px;
    padding: 8px 16px;
    height: 60px;
    width: 180px;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    box-shadow: -3px 6px 19px -2px rgba(0, 0, 0, 0.75);
}

.no-blog {
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.no-blog p {
    font-size: 30px;
    font-weight: 700;
}