form {
    height: auto;
    width: 80%;
    max-width: 700px;
    padding: 20px;
}

form label {
    font-size: 18px;
}

form input {
    height: 40px;
    width: 300px;
    max-width: 300px;
    margin: 10px 0px 20px;
    padding: 5px;
    font-size: 16px;
}

form textarea {
    height: 300px;
    width: 80%;
    max-width: 500px;
    padding: 5px;
    font-size: 16px;
    resize: none;
    margin: 10px 0px 20px;
}

form p {
    margin: 15px 0px 20px;
    padding: 5px;
    border-radius: 5px;
    color: white;
    background-color: red;
    width: fit-content;

}

form button {
    height: 50px;
    width: 150px;
    font-size: 18px;
    font-weight: 700;
    border: none;
    margin-top: 10px;
    border-radius: 10px;
}