main {
    display: flex;
    flex-direction: column;
    padding: 0px 32px;
}

h2 {
    font-size: 32px;
    font-weight: 700;
    margin: 32px 0px;
}

.blog-container {
    width: 100%;
    max-width: 800px;
    box-shadow: 8px 5px 28px -4px rgba(128, 128, 128, 0.75);
    -webkit-box-shadow: 8px 5px 28px -4px rgba(128, 128, 128, 0.75);
    -moz-box-shadow: 8px 5px 28px -4px rgba(128, 128, 128, 0.75);
    margin: 50px;
    padding: 30px 20px;
    border-radius: 10px;
}

.blog-title {
    font-size: 26px;
    font-weight: 600;
    margin: 0;
}

.blog-authur {
    font-size: 20px;
    font-weight: 500;
    margin: 20px 0px;
}

.blog-body {
    font-size: 16px;
    font-weight: 400;
    margin: 0px;
    text-align: justify;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;

}

.btn-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 20px;
}

.btn-container button {
    width: 90px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: rgb(17, 234, 191);
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    transition: 0.5s ease;
}

.btn-container button:hover {
    transform: scale(1.1);
}